<article class="hero">
  <section class="hero__section">
    <div class="hero__section--discription">
      <h1 class="">Complex preparation for English UPE</h1>
      <p class="">
        <span class="">It won’t be easy.</span>
        <span class="">But you’re guaranteed to get</span>
        <span class="">+25 points</span>
      </p>
      <button class="">I want a free lesson</button>
    </div>
    <div class="">
      <picture class="">
        <source class="" media="(min-width: )" srcset="" />
        <img class="" src="images/Ellipse-1.jpg" alt="" />
      </picture>
      <picture class="">
        <source class="" media="(min-width: )" srcset="" />
        <img class="" src="images/Ellipse-2.jpg" alt="" />
      </picture>
    </div>
  </section>
</article>
